@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.login-page {
    display: flex;
    font-family: 'Roboto';
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

section.info-login {
    background-color: #F3F5F9;
    width: 45%;
    min-height: 100vh;
    padding-inline: 3rem;
    padding-bottom: 2rem;
    box-shadow: inset 5px 5px 15px rgb(187, 187, 187);
    border-radius: 0 10rem 0 0;
}

div.logo {
    width: 35px;
    aspect-ratio: 1;
    background-color: #3C37FF;
    border-radius: .5rem;
    position: relative;
    margin-top: 2.5rem;
}

div.logo:before {
    content: '';
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2.1em;
    margin-top: 3rem;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px white;
}

p {
    color: #93959F;
    margin-top: 1rem;
    line-height: 25px;
}

div.card {
    margin-top: 3rem;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #3C37FF;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(123, 123, 123, 0.422);
}

div.card:before {
    content: "\201C";
    position: absolute;
    font-size: 280px;
    color: #000000;
    opacity: 0.3;
    left: 20px;
    top: -4.5rem;
    font-family: sans-serif;
}

p.description-profile {
    color: white;
}

div.profile {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-top: 1.5rem;
}

div.profile-name {
    color: white;
}

.profile-name .job-title {
    display: block;
    margin-top: .25rem; 
}

.input-signIn {
    max-width:400px;
    margin:auto;
}

.inline {
    width: 100%;
}

.input-icons {
    position: relative;
}

.icon {
    padding: 8px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    color: #799dfe;
    margin: 7px;
}
  
.input-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #F5F7F9;
    border: none;
    border-radius: 10px;
    padding-left: 70px
}

.icon-eye {
    padding: 8px;
    position: absolute;
    margin: 7px;
    right: 0;
    cursor: pointer;
    color: #93959F;
    z-index: 1000;
}

input[type="password"] {
    padding-right: 40px;
}

.description-signIn {
    font-size:.8rem;
    margin-bottom: 1.5rem;
}

.forgotPass {
    font-size:.8rem;
    float: right;
    color: #2684ff;
    font-weight: bold;
    text-decoration: none;
}

input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: .75rem;
    background-color: #2684ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 1rem;
}

p.line-bottom {
    text-align: center;
    font-size: 15px;
    margin-bottom: 1.5rem;
    position: relative;
}

p.line-bottom::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: #e8ebee;
    left: 0;
    bottom: 11px;
}

p.line-bottom::after {
    content: '';
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: #e8ebee;
    right: 0;
    bottom: 11px;
}

button {
    font-size: 14px;
    font-weight: bold;
    padding: .5rem 2rem;
    background-color: transparent;
    border: solid 1px #e8ebee;
    border-radius: 7px;
    cursor: pointer;
}

.icon-brand {
    margin-right: 5px;
}

.buttons {
    text-align: center;
}

.footer-signUp {
    text-align: center;
    font-size: .8rem;
}

.linkToSignUp {
    text-decoration: none;
    color: #2684ff;
    font-weight: bold;
    margin-left: .5rem;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: .5rem;
}

p.footer {
    color: white;
    font-family: 'Roboto';
}